<configuration>
    <!--配置环境-->
    <environments default="dev">
        <!--配置mysql的环境-->
        <environment id="dev">
            <!--配置连接池-->
            <dataSource type="druid">
                <property name="driver" value="com.mysql.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://localhost:3306/user"></property>
                <property name="username" value="root"></property>
                <property name="password" value="123456"></property>
            </dataSource>
        </environment>
    </environments>
    <!--配置映射文件的位置-->
    <mappers>
        <mapper resource="/UserMapper.xml"/>
    </mappers>
</configuration>